@charset "UTF-8";

@font-face { /* Pegar arquivo de fonte no diretoio personalizado */
    font-family:"idroid";
    src: url(fontes/idroid.otf) format(opentype);
    font-style: normal;
    font-weight: normal;
    }

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{ /* root cria variaveis para serem usadas */

    --fonte-bebas: 'Bebas Neue' , cursive;
    --fonte-android: 'idroid', cursive;
    --fonte-normal: Arial, Helvetica, sans-serif;

}

*{
     /* max-width: 100%; /* Limita a largura da imagem ao contêiner */ 
     margin: auto;
     
     
}

body{
    background-color: rgb(137, 205, 165);
    font-family: var(--fonte-bebas);
    
}
header{
    background-image: linear-gradient(rgb(87, 189, 124), rgb(25, 88, 53) );
    text-align: center;   
    padding: 05px;
    font-family: var(--fonte-normal);
}

section{
    background-color: rgb(255, 255, 255);
    width: 100% ;
    margin: 0 auto;    
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.507);
    border-radius: 00px 00px 10px 10px;
    max-width: 800px;
    
}
.titulo{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-weight: lighter;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.507);
    
}

.sub-titulo{
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.507) ;
}

.titulo-02{
    color: rgb(25, 88, 53);
    font-family: idroid ;
    padding: 10px;
}

.titulo-03{
    color: rgb(25, 88, 53);
    font-family: var(--fonte-android);
    margin: 10px;
    padding: 3px;
    font-size: 14px;
    background-image: linear-gradient(135deg,rgb(87, 189, 124), 10%, rgb(255, 255, 255));
}

.video{
    padding: 10px;
    background-color: rgb(25, 88, 53);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.tabela{
    
    text-indent: 30px; 
    text-align: justify;
    background-color: rgba(137, 205, 165, 0.466);
    margin: 10px;
    border-radius: 10px; /* Arredondar os cantos da borda. */
}


.titulo-tabela{
    background-color: rgb(25, 88, 53);
    margin: 0px;
    text-align: left;
    text-indent: 5px;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px 10px 0px 0px; /* Arredondar os cantos da borda. */
}

picture{
    text-align: center;   
    display: block;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: auto;
   
}


nav{
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;  
}

nav > a{
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none; 
    margin-right: 20px; 
    padding: 5px;
      
}

nav > a:hover{
    background-color: goldenrod;
    color: black;
    padding: 5px;
    transition-duration: 0.6s;
}

.teste:hover{
    background-color: rgb(9, 4, 85);
    color: rgb(255, 255, 255);
    padding: 5px;
}




p{
    text-indent: 30px; 
    padding: 10px;
    text-align: justify;
    line-height: 2em; /*Espaçamento entre linhas do paragrafo */
}

p >a{
    text-decoration: none;
    color: rgb(25, 88, 53);
    font-weight: bolder;
    
}

.links-destaque::after{ /* before é antes e after é apos*/
    content: ' \1F517 ';
    
}
table{
    justify-self: center;
    font-family: var(--fonte-normal);
    
}

abbr{
    text-decoration: none;
}
th, td{
    border: 1px solid none;
    text-align: left;
    padding: 8px;
    
  }

td::before{
    content: '⚀ '
}

footer{
    background-color: rgb(25, 88, 53);
    color: rgb(255, 255, 255);
    
    padding: 06px;
    margin: 10px 0px 0px 0px;
}
footer > p{
    text-align: center;
    margin: 0 auto
}
